#kaciukai{
    max-height: 500px;
    max-width: 100%;
}

.bloko_atitraukimas {
	margin-top: 25px;
}

.logo_dydis {
	max-height: 60px;
	margin-left: 10px;
	max-width: 100%;
	
}

.tabo_dydis {
	min-height: 500px !important;

}

#map {
	height: 300px;
	width: 100%;
	margin-top: 5px;
}

.n_dydis {
	margin-top-bottom: 25px; 
	min-height: 150px !important;
	width: 100%;
}

.bloko_dydis {
	min-height: 1000px !important;
}

.n_ft {
	max-height: 150px;
	width: 100%;
}

.kairiau {
	margin-left: 10px !important; 
}


.carousel .carousel-item{
	width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 10;
    left: 0;
}

.kontaktu_dydis {
	min-height: 320px !important;
}

.nuotraukos_dydis {
	max-height: 400px !important;
	width: 100%
}

.ikonos_dydis {
	max-height: 100px !important;
	margin-top: 10px; 
}

.circle {
    background-color:#fff;     
    height:100px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:100px;
}

.asm_nuotraukos_dydis {
	max-width: 300px;
}

.paleisti_zemiau {
	margin-top: 50px !important;
}

.fonto_dydis {
	font-size: 100%;
	margin-left: 10px;
}

.atitraukimas{
	margin-left: 10px;
}

.col .l12 .nav-wrapper{
	background-color: none;
}

.position1{
	color: amber accent-4;
	position: absolute;
}

.position2{
	position: absolute;
	margin-top: 0px;
}

.pagr_pusl_blokeliai {
	min-height: 400px !important;
	width: 100%;
}

.karuseles_dydis{
	min-height: 550px !important;
}

.spalva {
	color: #ffab00 !important;
}

